<h1> My Messages </h1>

<% @messages.each do |message| %>
  <div>
    <span class="sender">
      <%= "#{message.sender.first_name} #{message.sender.last_name}" %>
    </span>
    <br/>
    <%= message.body %>
    <br/>
  </div>
  <% unless message == @messages.last %>
    <hr>
    <% end %>
<% end %>
