<h1>Universities#index</h1>
<p>Find me in app/views/universities/index.html.erb</p>

<% @universities.each do |university| %>
  <%= link_to "Join #{university.name}", add_university_path(university), method: :post %>
<% end %>
