<h1> Universities </h1>

<ul id="universities" class="no-dots">
  <% @universities.each do |university| %>
    <li>
      <span class="university-name">
      <%= link_to university.name, courses_path(university) %>
      </span>

      <% if current_user.attends? university %>
        <%= link_to "Leave", leave_university_path(university), method: :delete, class: "leave-university-button"%>
      <% else %>
        <%= link_to "Join", join_university_path(university), method: :post, class: "join-university-button" %>
      <% end %>
    </li>
  <% end %> 
</ul>
